.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 0 2rem;
  max-width: 1400px;
  margin: 0 auto;
}
.movieSection {
  padding: 2rem 0;
  background: linear-gradient(90deg, #0f0118 0%, #22021f 100%);
}
/* .loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.loadMoreBtn {
  background: linear-gradient(90deg, #410529 0%, #1c0125 100%);
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.loadMoreBtn:hover {
  background: linear-gradient(90deg, #1c0125 0%, #410529 100%);
  box-shadow: 0 0 10px #740670, 0 0 20px #043939;
  transform: translateY(-2px);
} */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.pageBtn {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.pageBtn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.pageBtn.active {
  background: linear-gradient(90deg, #410529 0%, #1c0125 100%);
  font-weight: bold;
  box-shadow: 0 0 5px #740670;
}



@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 0 1rem;
  }
  
  .pageBtn {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .gridContainer {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
   .pagination {
    gap: 0.3rem;
  }
  
  .pageBtn {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}
.ellipsis {
  font-size: 1.2rem;   
  font-weight: bold;   
  color: #444;        
  padding: 0 8px;      
  vertical-align: middle;
}